<button (click)="logout()" class="btn btn-primary">Logout</button>
<p>
 Welcome {{name}}
</p>
<nav class="nav nav-pills nav-fill">
    <a routerLink="/student-book-search" class="nav-item nav-link">Search a Book</a>
    <a routerLink="/student-issue-book" class="nav-item nav-link">Issue a Book</a>
    <a routerLink="/student-issue-status" class="nav-item nav-link">Check status of request to issue book</a>
    <a routerLink="/student-return-book" class="nav-item nav-link">Return book</a>
  </nav>